:root {
    --header-height: 50px;
    --footer-height: 75px;
    --element-color: rgba(255, 255, 255, 0.8);
    --element-shadow-color: rgba(0, 0, 0, .2);
    --navLinkHeight: 50px;
    --highlight-background: rgba(0, 0, 0, 0.2);
    --double-highlight: rgba(0, 0, 0, 0.4);
    --menubars-height: 5px; /*change menu icon bars width here to automatically adjust other parameters*/
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    overflow: hidden;
}

body {
    background: url(resources/Images/Site/background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding-top: calc(var(--header-height) + 10px);
    padding-bottom: calc(var(--footer-height) + 10px);
}

header {
    background-color: var(--element-color);
    box-shadow: 0px 5px 5px var(--element-shadow-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header {
    display: flex;
    height: var(--header-height);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    background-color: var(--element-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    box-shadow: 0px -5px 5px var(--element-shadow-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    z-index: 99;
    font-size: .75em;
}

.logo {
    height: 100%;
    margin: 0;
    padding: 10px;
    display: block;
}

.logo img {
    height: 100%;
}

h1 {
    margin: 0;
    margin-left: 10px;
    display: block;
    line-height: var(--header-height);
}

.menuBtn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    height: var(--header-height);
    width: var(--header-height);
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    margin-left: auto;
}

.menuIcn {
    background-color: black;
    height: var(--menubars-height);
    width: 100%;
    border-radius: calc(var(--menubars-height) / 2);
    position: relative;
    transition: all .15s ease-out;
}

.top {
    top: 0px;
}

.mid {
    opacity: 100%;
}

.bot {
    bottom: 0px;
}

.topOutSlide {
    top: calc(((((var(--header-height) - 20px) - (3 * var(--menubars-height))) / 6) * 2) + var(--menubars-height));
}

.botOutSlide {
    bottom: calc(((((var(--header-height) - 20px) - (3 * var(--menubars-height))) / 6) * 2) + var(--menubars-height));
}

.midOutOpac {
    opacity: 0%;
}

.topOutRotate {
    rotate: 45deg;
}

.botOutRotate {
    rotate: -45deg;
}

a {
    text-decoration: none;
    color: black;
    background-color: var(--highlight-background);
    padding: 2.5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

a:hover {
    background-color: var(--double-highlight);
}

a:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 99;
    max-height: 0px;
    opacity: 0%;
    line-height: 0px;
    transition: all .5s ease-out;
}

.nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navOut {
    max-height: calc(var(--navLinkHeight) * 5);
    opacity: 100%;
    line-height: var(--navLinkHeight);
}

.nav a {
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}

.activepage a {
    background-color: var(--highlight-background);
}

.nav a:hover {
    background-color: var(--highlight-background);
}

.nav a:active {
    background-color: var(--double-highlight);
}

main {
    display: block;
    position: fixed;
    right: 10px;
    left: 10px;
    top: calc(var(--header-height) + 10px);
    bottom: calc(var(--footer-height) + 10px);
    background-color: var(--element-color);
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.11) 10px;
    box-shadow: 0px 0px 10px var(--element-shadow-color);
    padding: 10px;
    overflow: scroll;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

#scrollArrow {
    rotate: 90deg;
    font-size: 4em;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 25px;
    right: 25px;
    margin-bottom: 15px;
    bottom: calc(var(--footer-height) + 10px);
    z-index: 97;
    transition: all 1.5s ease-in-out;
}

.scrollArrowUp {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
}

.scrollArrowDown {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
}

.scrollArrowGone {
    opacity: 0%;
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
}

#scrollArrow.noScroll {
    display: none;
}

h2 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2em;
}

p {
    margin: 0px;
}

.contentCard {
    background-color: var(--highlight-background);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px var(--element-shadow-color);
}

h3 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

article {
    margin: 0px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    :root {
        --header-height: 75px;
        --footer-height: 100px;
        --navLinkHeight: 50px;
        --menubars-height: 7px; /*change menu icon bars width here to automatically adjust other parameters*/
    }
    h1 {
        font-size: 2.5em;
        margin-left: 20px;
    }
    footer {
        font-size: 1em;
    }
}
@media only screen and (min-width: 1200px) {
    :root {
        --header-height: 50px;
        --navLinkHeight: var(--header-height);
    }
    .nav {
        max-height: var(--navLinkHeight);
        opacity: 100%;
        line-height: var(--navLinkHeight);
    }
    .nav ul {
        flex-direction: row;
    }
    .nav li {
        flex: 1;
    }
    .menuBtn {
        display: none;
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--header-height);
        font-size: 2em;
    }
    main {
        top: calc((2 * var(--header-height)) + 10px);
    }
    footer {
        font-size: 1em;
    }
}